* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top_game {
  height: 1024px;
  background-image: url(img/back_game.jpg);
  background-repeat: no-repeat;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
}

.game_head {
  width: 730.778px;
  height: 125.007px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 217px;
  margin-left: 120px;
}

.text {
  width: 481px;
  height: 64px;
  margin-left: 120px;
  margin-top: 32px;
}

.game_text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.game_text_big {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.button_go {
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9C0332;
  border: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 120px;
  margin-top: 44px;
}

.button_go:hover {
  transform: scale(1.05);
}

.game_catalog {
  height: 556px;
  flex-shrink: 0;
  background: #000915;
}

.games {
  padding-top: 128px;
  display: flex;
  gap: 32px;
}

.game1 {
  width: 379px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  background-image: url(img/game1.jpg);
}

.game2 {
  width: 379px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  background-image: url(img/game2.jpg);
}

.game3 {
  width: 379px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  background-image: url(img/game3.jpg);
}

.game_name {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding-top: 236px;
  margin-left: 32px;
}

.game1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.game2:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.game3:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.game_season_block {
  height: 800px;
  top: 1580px;
  background-color: #000915;
  display: flex;
}
.game_season_box {
  width: 584px;
  height: 313.61px;
  padding-top: 243px;
  display: flex;
  flex-direction: column;
}
.game_season_heading {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}
.game_season_text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-top: 32px;
}
.game_season_button {
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9C0332;
  border: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
}

.game_saeson_text_big {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.game_season_button:hover {
  transform: scale(1.05);
}

.game_saeson_text_block {
  width: 481px;
  margin-top: 32px;
}

.season_svg {
  display: flex;
  flex-direction: column;
  margin-top: 233px;
  margin-left: 135px;
}

.game_word {
  height: 800px;
  background-color: rgb(0, 9, 21);
  display: flex;
}
.game_word_svg {
  padding-top: 232px;
}
.game_word_heading {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.game_word_heading_block {
  padding-top: 282px;
  padding-left: 135px;
}
.game_word_text {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.game_word_text_block {
  width: 588px;
  padding-top: 32px;
  padding-left: 135px;
}
.game_word_button {
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9C0332;
  border: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
  margin-left: 135px;
}
.game_word_svg {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .game_head {
    padding-top: 328px;
    color: #ffffff;
    display: flex;
    width: 343px;
    height: 77.436px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0;
  }
  .text {
    width: 343px;
    margin-left: 0px;
    text-align: center;
  }
  .top_block {
    display: flex;
    justify-content: center;
  }
  .game_text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .game_text_big {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .button_mob {
    display: flex;
    justify-content: center;
  }
  .button_go {
    margin-left: 0px;
  }
  .game_catalog {
    height: 1221px;
  }
  .games {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .game {
    width: 343px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
  }
  .game_season_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 653.61px;
  }
  .game_season_box {
    padding-top: 51px;
    width: 343px;
    height: 217.6px;
  }
  .game_season_heading {
    width: 243px;
    height: 39px;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .game_season_heading_block {
    display: flex;
    justify-content: center;
  }
  .game_season_text {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  .game_season_button_mob {
    display: flex;
    justify-content: center;
  }
  .season_svg {
    width: 344px;
    height: 236px;
    display: flex;
    margin-top: 64px;
    margin-left: 0px;
  }
  .game_word {
    height: 653.61px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .game_word_box {
    padding-top: 51px;
    display: flex;
    width: 343px;
    margin-bottom: 64px;
    height: 217.6px;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .game_word_heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .game_word_heading_block {
    display: flex;
    padding-left: 0;
    justify-content: center;
  }
  .game_word_text {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    width: 343px;
  }
  .game_word_text_block {
    padding-left: 0;
    width: 343px;
    display: flex;
    justify-content: center;
  }
  .game_word_button {
    margin-left: 0;
  }
  .game_word_svg {
    display: flex;
    width: 344px;
    height: 231px;
    padding-left: 0;
    margin-top: 64px;
  }
}/*# sourceMappingURL=style.css.map */